.browseContainer {
    width:100%;
    max-width:800px;
    height:auto;
    margin:auto;
    padding-bottom:2rem;
}
.container {
    padding-right:.5rem;
    padding-left:.5rem;
}
    .browseContainer > div {
        width:50%;
        box-sizing: border-box;
        display:inline-flex;
        padding:.5rem;
        height:auto;
    }
    .browseContainer .prdContainer {
        width:100%;
        position: relative;
    }
    .browseContainer .prdName {
        text-align: center;
        padding-top:.5rem;
        padding-bottom:.5rem;
    }
    .browseContainer .prdPrice {
        text-align: center;
        color:darkslategray;
    }
    .browseContainer .prdOutStock {
        text-align: center;
        background-color:rgba(0,0,0,.4);
        position: absolute;
        top:0px;
        width:100%;
        padding:.5rem;
        padding-top:1rem;
        padding-bottom:1rem; 
    }
    .browseContainer .prdImg {
        width:100%;
        max-height:500px;
        background-color:lightblue;
        object-fit: cover;
        overflow:hidden;
        position: relative;
    }
    .browseContainer .prdImg .prdAddToCart {
        position:absolute;
        right:0px;
        bottom:0px;
        height:36px;
        width:36px;
        color:white;
        font-size:40px;
        line-height: 36px;
        text-align: center;
        background-color:mediumseagreen;
        cursor: pointer;
    }
    .prdImg img {
        width:100%;
        padding:1rem;
        padding-top:2rem;
    }
    .container .sortBox {
        width:50%;
        display:inline-flex;
        padding:6px;
    }
    .sortBox > div {
        border:4px black solid;
        width:100%;
        padding:8px;
        position: relative;
    }
    .sortBox > div > div {
        display: inline;
        right:6px;
        position: absolute;
    }

.container {
    margin:auto;
}