.cartItem {
    padding:12px;
    position: relative;
}
.cartItem > .cartName {
    position: absolute;
    left:80px;
}
.cartItem > .cartPrice {
    position: absolute;
    bottom:12px;
    right:12px;
}
.cartItem > .cartThumb {
    width:64px;
    height: 64px;
    background-color: lightgray;
    overflow: hidden;
}
.cartItem > .cartThumb > img {
    width:64px;
}
.cartItem > .removeFromCart {
    position: absolute;
    right:12px;
    top:12px;
    width:18px;
    height:18px;
    background-color:darkred;
    color:white;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
}
.container {
    margin:auto;
}